#accountFormPfp {
  width: 150px;
  margin: auto;
}
#accountFormPfp .fileUploadBox {
  border-radius: 50%;
}
#accountFormPfp .fileUploadBar {
  height: 8px;
}
#accountFormPfp .fileUploadBarText {
  width: 150px;
  transform: translateY(-23px);
}
#accountFormPfp .fileUploadBox {
  background-size: cover;
}
#accountFormNames {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}