#comments {
    max-height: calc(100vh - 268px);
    overflow-y: scroll;
}
.commentIcon {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    object-fit: cover;
    transition: .15s box-shadow var(--bezierQuartOut);
}
.comment {
    display: flex;
    padding: 8px;
    transition: .15s background-color var(--bezierQuartOut);
    border-radius: 12px;
}
.comment:hover {
    background-color: var(--navSearchBg);
}
.comment:hover .commentIcon {
    box-shadow: 0 0 8px #00000044
}
.comment:hover .commentRFooterBtns {
    visibility: unset;
}
.commentL {
    margin-right: 8px;
}
.commentR {
    flex-grow: 1;
}
.commentRName {
    margin-right: 8px;
}
.commentRName:hover {
    text-decoration: underline;
}
.commentRFooter {
    display: flex;
    gap: 4px;
}
.commentRFooterBtns {
    visibility: hidden;
    display: flex;
    margin-left: 10px;
    gap: 10px;
}
.commentRFooterBtns > i, #pinDetailsRBtns > i {
    transition-duration: .25s;
    transition-property: color, text-shadow, transform;
    transition-timing-function: var(--bezierQuartOut);
}
.commentRFooterBtns > i:hover, #pinDetailsRBtns > i:hover {
    cursor: pointer;
    color: var(--accentRed);
    text-shadow: 0 0 16px #ED424577;
    transform: translateY(-1px);
}
.commentRFooterBtns > i:active, #pinDetailsRBtns > i:active {
    color: var(--accentRedDark);
    text-shadow: 0 0 8px #ED424577;
    transform: translateY(1px);
}
#commentCount {
    position: sticky;
    top: 0;
    background-color: white;
}
#commentsFooter {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 16px;
}
#commentsFooterInput {
    display: flex;
    height: 48px;
    flex-grow: 1;
    gap: 8px;
}
#commentsFooterInput > div {
    margin: 0;
    width: 100%;
}
#commentsFooterInput > div > input {
    border-radius: 50px;
    background-color: var(--navSearchBg);
    border: none;
    height: 24px;
    outline: none;
}
#commentsFooterPfp {
    display: flex;
}
#commentsFooterPfp > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}