@import url('./Comments.css');
@media (width <= 1024px) {
    #pinDetails {
        grid-auto-flow: row !important;
        grid-template-columns: unset !important;
        max-width: 512px !important;
    }
    #pinDetailsLImg {
        border-radius: 32px 32px 0 0 !important;
    }
    #pinDetailsR {
        border-left: unset !important;
        border-top: .5px solid var(--navBorder);
    }
}

#backBtn {
    padding: 13px 12px;
    border-radius: 50%;
    position: fixed;
    background-color: white;
    z-index: 1;
}
#backBtn, #backBtnForm {
    transition-property: background-color, transform;
    transition-duration: .2s;
    transition-timing-function: var(--bezierQuartOut);
    user-select: none;
    -webkit-user-drag: none;
}
#backBtn:hover, #backBtnForm:hover {
    background-color: var(--navSearchBg);
}
#backBtn:active, #backBtnForm:active {
    background-color: var(--backBtnActive);
    transform: scale(.9);
}
#pinDetails {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 2fr);
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0 4px 32px #00000033;
    max-width: 1024px;
    margin: 8px auto 16px;
}
#pinDetailsL {
    display: flex;
    width: 100%;
}
#pinDetailsLImg {
    width: 100%;
    max-height: calc(100vh - 113px);
    border-radius: 32px 0 0 32px;
    object-fit: contain;
}
#pinDetailsR {
    padding: 32px;
    border-left: .5px solid var(--navBorder);
}
#pinDetailsRTitle {
    margin-bottom: 10px;
    display: flex;
    gap: 16px;
}
#pinDetailsRTitleTxt {
    flex-grow: 1;
}
#pinDetailsRBtns {
    display: flex;
    gap: 10px;
}
#pinDetailsRBtns > i{
    margin: 12px 0 0 0;
    height: 18px;
}
#pinDetailsRDesc {
    margin-bottom: 24px;
}
#pinDetailsRAuthor {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
#pinDetailsRAuthor div {
    margin: auto 0;
}
#pinDetailsRAuthor img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}