#topNavBar {
	display: flex;
	border-bottom: 1px solid var(--navBorder);
	background-color: white;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 16px;
	z-index: 1;
}
#topNavBar > * {
	margin: auto;
}
.topNavBarLink {
	padding: 14.5px 18px;
	border-radius: 40px;
	user-select: none;
	-webkit-user-drag: none;
	transition-duration: .25s;
	transition-property: background-color, color;
	transition-timing-function: var(--bezierQuartOut);
}
.topNavBarLink:hover {
	background-color: var(--navBgHover);
	cursor: pointer;
}
.topNavBarLink:active {
	background-color: var(--navBgActive);
}
.topNavBarLink.selected {
	background-color: var(--navBgInvert);
	color: white;
}
#topNavBarSearch {
	flex-grow: 1;
	display: flex;
	padding: 0 16px;
}
#topNavBarSearch > input {
	flex-grow: 1;
	padding: 16px 16px 16px 42px;
	border: unset;
	border-radius: 24px;
	background-color: var(--navSearchBg);
}
#topNavBarSearch > i {
	position: fixed;
	transform: translate(16px, 16px);
	color: #757575;
}
#topNavBarLogo {
	user-select: none;
	-webkit-user-drag: none;
	transform: translateY(1.5px);
}
#topNavBarLogo > img {
	height: 32px;
	width: 32px;
	aspect-ratio: 1;
	object-fit: contain;
	-webkit-user-drag: none;
	padding: 8px;
	border-radius: 50%;
	transition-duration: .25s;
	transition-property: background-color, transform;
	transition-timing-function: var(--bezierQuartOut);
}
#topNavBarLogo:hover > img {
	background-color: var(--navBgHover);
	cursor: pointer;
}
#topNavBarLogo:active > img {
	background-color: var(--navBgActive);
}
#searchIpt:disabled {
	/* cursor: not-allowed; */
	opacity: 0;
}